{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        {% block head-title-before %}{% endblock head-title-before %}
        Society Hiker
        {% block head-title-after %}{% endblock head-title-after %}
    </title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif+Caption" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/PTserif.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

    {% block head-css-js %}{% endblock head-css-js %}
</head>
<body>

{% block body-header %}{% endblock body-header %}

<nav>
    <ul class="navigation">
        <li><a href="#">
            <div class="icon-container" id="home"><i class="fa fa-home" aria-hidden="true"></i></div>
            <div id="home-name">Accueil</div>
        </a></li>

        <li><a href="#">
            <div class="icon-container" id="author"><i class="fa fa-user" aria-hidden="true"></i></div>
            <div id="author-name">Auteur</div>
        </a></li>

        <li><a href="#">
            <div class="icon-container" id="category"><i class="fa fa-heart" style="font-size: 19px;" aria-hidden="true"></i></div>
            <div id="category-name">Catég.</div>
        </a></li>

        <li><a href="#">
            <div class="icon-container" id="search"><i class="fa fa-search" style="font-size: 19px;" aria-hidden="true"></i></div>
            <div id="search-name">Recher.</div>
        </a></li>

    </ul>
</nav>

<div class="content">
    <div class="content-inner">
        <div class="content-body">
            {% block content %}{% endblock content %}
        </div>
    </div>
</div>

</body>
</html>