<div class="share-module">
    <h3>Partagez cet article avec vos amis !</h3>
    <div class="share-content">
        <ul>
            <!-- facebook -->
            <li>
                <a class="share-link" href="#" title="Partager sur Facebook">
                    <i class="fa fa-facebook sh sh-facebook" aria-hidden="true"></i>
                </a>
            </li>

            <!-- twitter -->
            <li>
                <a class="share-link" href="#" title="Partager sur Twitter">
                    <i class="fa fa-twitter sh sh-twitter" aria-hidden="true"></i>
                </a>
            </li>

            <!-- google plus -->
            <li>
                <a class="share-link share-google" href="#" title="Partager sur Google +">
                    <i class="fa fa-google-plus sh sh-google" aria-hidden="true"></i>
                </a>
            </li>

            <!-- tumblr -->
            <li>
                <a class="share-link" href="#" title="Partager sur Tumblr">
                    <i class="fa fa-tumblr sh sh-tumblr" aria-hidden="true"></i>
                </a>
            </li>

            <!-- pinterest -->
            <li>
                <a class="share-link" href="#" title="Partager sur Pinterest">
                    <i class="fa fa-pinterest-p sh sh-pinterest" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>